<%- include('partials/header') %>

  <link rel="stylesheet" href="/stylesheets/crud.css">
  <script src="/javascripts/crud.js" defer></script>

  <main>
    <div class="crud-types">
      <button class="btnCrud"><a href="/Livro/admin/categorias">Categorias</a></button>
      <button class="btnCrud"><a href="/Livro/admin/editoras">Editoras</a></button>
      <button class="btnCrud"><a href="/Livro/admin/autores">Autores</a></button>
    </div>
    <div class="container-crud">

      <h4 class="crud-title">CADASTRO LIVROS</h4>

      <div class="container-header-crud">
        <div class="header-crud">
          <button class="btnCrud"><a href="/Livro/admin">Todos</a></button>
          <button onclick="openModal()" class="btnCrud"><a>Adicionar</a></button>
          <button class="btnCrud"><a> Deletar</a></button>
          <div class="search-crud">
            <form action="/Livro/buscar" method="get">
              <input type="text" name="buscar" id="read" placeholder="Buscar ">
            </form>
          </div>

        </div>
      </div>
      <div class="divTable">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>ID</th>
              <th>Título</th>
              <th>Preço</th>
              <th class="acao">Editar</th>
              <th class="acao">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <% produtos.forEach(produto=> { %>
              <tr>
                <td><input type="checkbox"></td>
                <td>
                  <%= produto.id %>
                </td>
                <td>
                  <%= produto.titulo %>
                </td>
                <td>
                  <%= produto.preco %>
                </td>
                <td class="acao">
                  <button onclick="editModal('<%= JSON.stringify(Livro) %>')" class="crudform"><i
                      class='bx bx-edit'></i></button>

                </td>
                <td class="acao">
                  <form action="/Livro/deletar/<%= Livro.id %>?_method=DELETE" method="POST">
                    <button class="crudform"><i class='bx bx-trash'></i></button>
                </td>

                </form>
                <!--  -->
                </form>
                <% }) %>
          </tbody>

        </table>
      </div>

      <div class="modal-container">
        <div class="modal">

          <form class="form-crud" action="/produto/admin" method="POST" enctype="multipart/form-data">
            <br>
            <label class="form-crud-label" for="categoria">Categoria:</label> <br>
            <select name="categoria" id="categoria">
              <option value="hw">Histórias em Quadrinhos</option>
              <option value="livro">Livros</option>
            </select>

            <label class="form-crud-label" for="nome">Titulo do Livro:</label> <br>
            <input class="form-crud-input" id="titulo" type="text" name="nome" placeholder="Digite o nome do livro ">

            <label class="form-crud-label" for="valor">Preço:</label> <br>
            <input class="form-crud-input" id="crud-preco" type="text" name="valor"
              placeholder="Coloque o valor do Livro">

            <label class="form-crud-label" for="editora">Editora:</label> <br>
            <input class="form-crud-input" type="text" name="editora" placeholder="Digite a editora">

            <label class="form-crud-label" for="publicacao">Ano de Publicação:</label> <br>
            <input class="form-crud-input" type="text" name="publicacao" placeholder="Digite o ano de publicação">

            <label class="form-crud-label" for="idioma">Idioma:</label> <br>
            <input class="form-crud-input" type="text" name="idioma" placeholder="Digite o idioma">

            <label class="form-crud-label" for="paginas">Páginas:</label> <br>
            <input class="form-crud-input" type="text" name="paginas" placeholder="Digite o número de paginas">

            <label class="form-crud-label" for="dimensoes">Dimensões:</label> <br>
            <input class="form-crud-input" type="text" name="dimensoes" placeholder="Digite as dimensões em cm">

            <label class="form-crud-label" for="categoria">Acabamento:</label> <br>
            <select name="categoria" id="categoria">
              <option value="comum">Capa Comum</option>
              <option value="dura">Capa Dura</option>
            </select>

            <label class="form-crud-label" for="isbn">ISBN-13:</label> <br>
            <input class="form-crud-input" type="text" name="dimensoes" placeholder="Digite o ISBN">

            <label class="form-crud-label" for="sinopse">Sinopse:</label> <br>
            <textarea class="form-crud-input" name="sinopse" placeholder="Escreva aqui a sinopse do livro"></textarea>

            <label class="form-crud-label" for="capaImg">Imagem Capa:</label> <br>
            <input type="file" class="alteraInp" name="capaImg">

            <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>
          </form>
        </div>
      </div>
      </section>
  </main>