<%- include('partials/header') %>

  <link rel="stylesheet" href="/stylesheets/crud.css">
  <script src="/javascripts/crud.js" defer></script>

  <main>
    <div class="crud-types">
      <button class="btnCrud"><a href="/admin/categorias">Categorias</a></button>
      <button class="btnCrud"><a href="/admin/autores">Autores</a></button>
      <button class="btnCrud"><a href="/admin">Livros</a></button>
    </div>
    <div class="container-crud">

      <h4 class="crud-title">CADASTRO EDITORAS</h4>

      <div class="container-header-crud">
        <div class="header-crud">
          <button class="btnCrud"><a href="/Livro/admin">Todos</a></button>
          <button onclick="openModal()" class="btnCrud"><a>Adicionar</a></button>
          <button class="btnCrud"><a> Deletar</a></button>
          <div class="search-crud">
            <form action="/Livro/buscar" method="get">
              <input type="text" name="buscar" id="read" placeholder="Buscar ">
            </form>
          </div>

        </div>
      </div>
      <div class="divTable">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>ID</th>
              <th>Editora</th>
              <th>CNPJ</th>
              <th class="acao">Editar</th>
              <th class="acao">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <% editoras.forEach(editora=> { %>
              <tr>
                <td><input type="checkbox"></td>
                <td>
                  <%= editora.id %>
                </td>
                <td>
                  <%= editora.nome %>
                </td>
                <td>
                  <%= editora.cnpj %>
                </td>
       
                <td class="acao">
                  <button onclick="editModal('<% editora %>')" class="crudform"><i class='bx bx-edit'></i></button>

                </td>
                <td class="acao">
                  <form action="/admin/editoras/deletar/<%= editora.id %>?_method=DELETE" method="POST">
                    <button class="crudform"><i class='bx bx-trash'></i></button>
                </td>

                </form>
                <!--  -->
                </form>
                <% }) %>
          </tbody>

        </table>
      </div>

      <div class="modal-container">
        <div class="modal">

          <form class="form-crud" action="/produto/admin/editoras" method="POST" enctype="multipart/form-data">
            <br>

            <label class="form-crud-label" for="editora">Editora:</label> <br>
            <input class="form-crud-input" type="text" name="editora" placeholder="Digite o nome da Editora ">

            <label class="form-crud-label" for="cnpj">CNPJ:</label> <br>
            <input class="form-crud-input" id="crud-preco" type="text" name="cnpj"
              placeholder="Digite o CNPJ da Editora">

            <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>
          </form>
        </div>
      </div>
      </section>
  </main>