<%- include('partials/header') %>

  <link rel="stylesheet" href="/stylesheets/crud.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <script src="/javascripts/crud.js" defer></script>

  <main>
    <div class="container-crud">
      <div class="container-header-crud">
        <div class="header-crud">
          <button class="btnCrud"><a href="/Livro/admin">Todos</a></button>
          <button onclick="openModal()" class="btnCrud"><a>Adicionar</a></button>
          <button class="btnCrud"><a> Deletar</a></button>
          <form action="/Livro/buscar" method="get">
            <input type="text" name="buscar" id="read" placeholder="Buscar ">
          </form>


        </div>
      </div>
      <div class="divTable">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>ID</th>
              <th>Título</th>
              <th>Preço</th>
              <th class="acao">Editar</th>
              <th class="acao">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <% Livros.forEach(Livro=> { %>
              <tr>
                <td><input type="checkbox"></td>
                <td>
                  <%= Livro.id %>
                </td>
                <td>
                  <%= Livro.nome %>
                </td>
                <td>
                  <%= Livro.valor %>
                </td>
                <td class="acao">
                  <form action="/Livro/editar/<%= Livro.id %>?_method=PUT" method="PUT">
                    <button onclick="openModal()" class="bx bx-edit" id="editar"></button>
                  </form>
                  </form>
                </td>
                <td class="acao">
                 
                </form>
                <% }) %>
          </tbody>
        </table>
      </div>

      <div class="modal-container">
        <div class="modal">
          <form action="/Livro/admin" method="POST">
            <label class="form-crud-label" for="nome">Titulo do Livro:</label> <br>
            <input class="form-crud-input" id="titulo" type="text" name="nome" placeholder="Digite o nome do Livro">

            <label class="form-crud-label" for="valor">Preço:</label> <br>
            <input class="form-crud-input" id="crud-preco" type="text" name="valor"
              placeholder="Coloque o valor do Livro">

            <label class="form-crud-label" for="categoria">Categoria:</label> <br>
            <input class="form-crud-input" class="open-modal" type="text" value="categoria" name="categoria"
              required></a>

            <label class="form-crud-label" for="autor">Autor:</label> <br>
            <input class="form-crud-input" type="text" name="autor" placeholder="Digite o nome do autor">

            <label class="form-crud-label" for="editora">Editora:</label> <br>
            <input class="form-crud-input" type="text" name="editora" placeholder="Digite a editora">

            <label class="form-crud-label" for="sinopse">Sinopse:</label> <br>
            <textarea class="form-crud-input" name="sinopse"> Coloque a descrição</textarea>

            <label class="form-crud-label" for="imagemCapa">Imagem Capa:</label> <br>
            <input type="file" class="alteraInp" name="imagemCapa">

            <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>
          </form>
        </div>
      </div>
      </section>
  </main>