<%- include('partials/header') %>
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <script src="/javascripts/crud.js" defer></script>
  <main>

    <div class="modal">
      <h2>
        <% if (livro) { %>
          Editar
        <% } else { %>
          Adicionar
        <% } %>
         Livros
      </h2>
      
      <% if (livro) { %>
        <form class="add-form" action="/admin/editar-livro/<%= livro.id %>?_method=PUT" method="post">
      <% } else { %>
        <form class="add-form" action="/admin" method="post">
      <% } %>
        <br>

        <label class="form-crud-label" for="categoria">Categoria:</label> <br>
        <select name="categoria" id="categoria">
          
        </select>

        <label class="form-crud-label" for="nome">Titulo do Livro:</label> <br>
        <input class="form-crud-input" id="titulo" type="text" name="titulo" placeholder="Digite o nome do livro "
          value="<%= livro && livro.titulo %>">

        <label class="form-crud-label" for="preco">Preço:</label> <br>
        <input class="form-crud-input" id="crud-preco" type="text" name="preco" placeholder="Coloque o valor do Livro"
        value="<%= livro && livro.preco %>">

        <label class="form-crud-label" for="editora">Editora:</label> <br>
        <select name="editora" id="editora">
          <option value=""></option>

        </select>

        <label class="form-crud-label" for="idioma">Idioma:</label> <br>
        <input class="form-crud-input" type="text" name="idioma" placeholder="Digite o idioma" 
        value="<%= livro && livro.idioma %>">

        <label class="form-crud-label" for="paginas">Páginas:</label> <br>
        <input class="form-crud-input" type="text" name="paginas" placeholder="Digite o número de paginas"
        value="<%= livro && livro.paginas %>">

        <label class="form-crud-label" for="acabamento">Acabamento:</label> <br>
        <select name="acabamento" id="acabamento">
          <option value="comum">Capa Comum</option>
          <option value="dura">Capa Dura</option>
        </select>

        <label class="form-crud-label" for="isbn">ISBN-13:</label> <br>
        <input class="form-crud-input" type="text" name="isbn" placeholder="Digite o ISBN"
        value="<%= livro && livro.isbn %>">

        <label class="form-crud-label" for="sinopse">Sinopse:</label> <br>
        <textarea class="form-crud-input" name="sinopse" placeholder="Escreva aqui a sinopse do livro"></textarea 
          value="<%= livro && livro.sinopse %>">

        <label class="form-crud-label" for="capaImg">Imagem Capa:</label> <br>
        <input type="file" class="alteraInp" name="capaImg">

        <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>

       


  </main>

  <%- include('partials/footer') %>