<%- include('partials/header') %>
  <link rel="stylesheet" href="/stylesheets/admin.css">

  <script src="/javascripts/validacoesCadastroLivro.js" defer></script>
  <main>

    <div class="modal">
      <h2>
        <% if (livro) { %>
          Editar
          <% } else { %>
            Adicionar
            <% } %>
              Livros
      </h2>

      <% if (livro) { %>
        <form class="add-form form-crud" action="/admin/editar-livro/<%= livro.id %>?_method=PUT" method="post"
          enctype="multipart/form-data">
          <% } else { %>
            <form class="add-form form-crud" action="/admin" method="post" enctype="multipart/form-data">
              <% } %>
                <br>

                <label class="form-crud-label" for="categoria">Categoria:</label> <br>
                <select name="categoria" id="categoria">
                  <% categorias.forEach(el=> { %>
                    <option value="<%= el.id %>">
                      <%= el.tipo %>
                    </option>
                    <% }) %>
                </select>

                <label class="form-crud-label" for="nome">Titulo do Livro:</label> <br>
                <input class="form-crud-input" id="titulo" type="text" name="titulo"
                  placeholder="Digite o nome do livro " value="<%= livro && livro.titulo %>">

                <label class="form-crud-label" for="preco">Preço:</label> <br>
                <input class="form-crud-input" id="crud-preco" type="text" name="preco"
                  placeholder="Coloque o valor do Livro" value="<%= livro && livro.preco %>">

                <label class="form-crud-label" for="autor">Autor:</label> <br>
                <select name="autor" id="autor">
                  <% autores.forEach(el=> { %>
                    <option value="<%= el.id %>">
                      <%= el.nome %>
                    </option>
                    <% }) %>
                </select>

                <label class="form-crud-label" for="editora">Editora:</label> <br>
                <select name="editora" id="editora">
                  <% editoras.forEach(el=> { %>
                    <option value="<%= el.id %>">
                      <%= el.nome %>
                    </option>
                    <% }) %>

                </select>

                <label class="form-crud-label" for="idioma">Idioma:</label> <br>
                <input class="form-crud-input" type="text" name="idioma" placeholder="Digite o idioma"
                  value="<%= livro && livro.idioma %>">

                <label class="form-crud-label" for="idioma">Ano de Publicação:</label> <br>
                <input class="form-crud-input" type="text" name="ano" placeholder="Digite o ano de publicação"
                  value="<%= livro && livro.ano %>">

                <label class="form-crud-label" for="paginas">Páginas:</label> <br>
                <input class="form-crud-input" type="text" name="paginas" placeholder="Digite o número de paginas"
                  value="<%= livro && livro.paginas %>">

                <label class="form-crud-label" for="acabamento">Acabamento:</label> <br>
                <select name="acabamento" id="acabamento">
                  <option value="comum">Capa Comum</option>
                  <option value="dura">Capa Dura</option>
                </select>

                <label class="form-crud-label" for="isbn">ISBN-13:</label> <br>
                <input class="form-crud-input" type="text" name="isbn" placeholder="Digite o ISBN"
                  value="<%= livro && livro.isbn %>">

                <label class="form-crud-label" for="sinopse">Sinopse:</label> <br>
                <textarea class="form-crud-input" name="sinopse"
                  placeholder="Escreva aqui a sinopse do livro"><%= livro && livro.sinopse %></textarea>

                <label class="form-crud-label" for="capaImg">Imagem Capa:</label> <br>
                <span class="capaupload">
                  <%= livro && livro.capa %>
                </span>

                <input type="file" class="alteraInp" name="capa" <%=livro && livro.capa %>>

                <label class="form-crud-label" for="imagens">Imagens:</label> <br>
                <span class="capaupload">

                </span>

                <input type="file" class="alteraInp" name="imagens" multiple>

                <div class="buttons">
                  <button class="btnCrud" id="btVoltar"><a href="/admin">Voltar</a></button>
                  <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>
                </div>
            </form>

        </form>

  </main>

  <%- include('partials/footer') %>
