<%- include('partials/header') %>
  <link rel="stylesheet" href="/stylesheets/admin.css">

  <main>

    <div class="modal">
      <h2>
        <% if (autor) { %>
          Editar
          <% } else { %>
            Adicionar
            <% } %>
              Autores
      </h2>

      <% if (autor) { %>
        <form class="add-form" action="/admin/autores/editar/<%= autor.id %>?_method=PUT" method="post"
          enctype="multipart/form-data">
          <% } else { %>
            <form class="add-form" action="/admin/autores" method="post" enctype="multipart/form-data">
              <% } %>
                <br>

                <label class="form-crud-label" for="nome">Nome do Autor:</label> <br>
                <input class="form-crud-input" id="titulo" type="text" name="nome"
                  placeholder="Digite o nome da editora" value="<%= autor && autor.nome %>">

                <label class="form-crud-label" for="biografia">Biografia:</label> <br>
                <textarea class="form-crud-input" name="biografia"
                  placeholder="Escreva aqui a biografia do autor"><%= autor && autor.biografia %></textarea>

                <label class="form-crud-label" for="foto">Imagem Autor:</label> <br>
                <span class="fotoupload">
                  <%= autor && autor.foto %>
                </span>

                <input type="file" class="alteraInp" name="foto" <%=autor && autor.foto %>>

                <div class="buttons">
                  <button class="btnCrud" id="btVoltar"><a href="/admin">Voltar</a></button>
                  <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>
                </div>
            </form>



  </main>

  <%- include('partials/footer') %>