<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/admin.css">
  <script src="/javascripts/crud.js" defer></script>
<main>
  <h2>Adicionar livro</h2>

  <% if (livro) { %>
    <form class="add-form" action="/admin/adicionar-livro<%= livro.id %>?_method=PUT" method="post">
  <% } else { %>
    <form class="add-form" action="/admin" method="post">
  <% } %>

    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" value="<%= livro && livro.nome %>">

    <label for="editora">Editora</label>
    <select name="editora" id="editora">
    <% editoras.forEach(editora => { %>
<option value="<%= editora.id %>"><%= editora.nome %></option>          
      <% }) %>
    </select>
    <label for="editora">Preço</label>
    <input type="text" name="editora" id="editora" value="<%= livro && livro.editora %>">


    <label for="autor">Autor</label>
    <select name="autor" id="autor">
      <% autores.forEach(autor => { %>
  <option value="<%= autor.id %>"><%= autor.nome %></option>          
        <% }) %>
      </select>
    <input type="text" name="autor" id="autor" value="<%= livro && livro.autor %>">

    <label class="form-crud-label" for="categoria">Acabamento:</label> <br>
              <select name="categoria" id="categoria">
                      <option value="comum">Capa Comum</option>
                <option value="dura">Capa Dura</option>
              </select>

    <button type="submit">Enviar</button>
  </form>
</main>

<%- include('partials/footer') %>