<%- include('partials/header') %>
<<<<<<< HEAD

<main>
  <h2>Adicionar livro</h2>

  <% if (livro) { %>
    <form class="add-form" action="/biblioteca/editar/<%= livro.id %>?_method=PUT" method="post">
  <% } else { %>
    <form class="add-form" action="/biblioteca" method="post">
  <% } %>

    <label for="titulo">Título</label>
    <input type="text" name="titulo" id="titulo" value="<%= livro && livro.titulo %>">

    <label for="editora">Editora</label>
    <input type="text" name="editora" id="editora" value="<%= livro && livro.editora %>">

    <button type="submit">Enviar</button>
  </form>
</main>

<%- include('partials/footer') %>
=======
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <script src="/javascripts/crud.js" defer></script>
  <main>

    <div class="modal">
      <h2>
        <% if (editora) { %>
          Editar
          <% } else { %>
            Adicionar
            <% } %>
              Editoras
      </h2>

      <% if (editora) { %>
        <form class="add-form" action="/admin/editoras/editar/<%= editora.id %>?_method=PUT" method="post">
          <% } else { %>
            <form class="add-form" action="/admin/editoras" method="post">
              <% } %>
                <br>

                <label class="form-crud-label" for="nome">Nome da Editora:</label> <br>
                <input class="form-crud-input" id="titulo" type="text" name="nome"
                  placeholder="Digite o nome da editora" value="<%= editora && editora.nome %>">

                <label class="form-crud-label" for="cnpj">CNPJ:</label> <br>
                <input class="form-crud-input" id="crud-cnpj" type="text" name="cnpj"
                  placeholder="Digite o CNPJ da editora " value="<%= editora && editora.cnpj %>">


                <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>




  </main>

  <%- include('partials/footer') %>
>>>>>>> igorcr
