<%- include('partials/header') %>
  <link rel="stylesheet" href="/stylesheets/admin.css">

  <main>

    <div class="modal">
      <h2>
        <% if (editora) { %>
          Editar
          <% } else { %>
            Adicionar
            <% } %>
              Editoras
      </h2>

      <% if (editora) { %>
        <form class="add-form" action="/admin/editoras/editar/<%= editora.id %>?_method=PUT" method="post">
          <% } else { %>
            <form class="add-form" action="/admin/editoras" method="post">
              <% } %>
                <br>

                <label class="form-crud-label" for="nome">Nome da Editora:</label> <br>
                <input class="form-crud-input" id="titulo" type="text" name="nome"
                  placeholder="Digite o nome da editora" value="<%= editora && editora.nome %>">

                <label class="form-crud-label" for="cnpj">CNPJ:</label> <br>
                <input class="form-crud-input" id="crud-cnpj" type="text" name="cnpj"
                  placeholder="Digite o CNPJ da editora " value="<%= editora && editora.cnpj %>">

                <div class="buttons">
                  <button class="btnCrud" id="btVoltar"><a href="/admin/editoras">Voltar</a></button>
                  <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>
                </div>
            </form>



  </main>

  <%- include('partials/footer') %>