<%- include('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/conta.css">

    <main>
        <section class="box-MinhaConta">
            <div class="minhaConta">
                <img src="/images/<%= usuarios.foto %>">

                <h3>
                    <%= usuarios.nome %>
                        <%= usuarios.sobrenome %>
                </h3>

                <div class="contaOpcoes">
                    <a href="/users/conta/<%= usuarios.id %>">MEUS DADOS</a>
                    <% if (usuarios) { %>
                        <span>teste</span>
                        <% } %>


                            <a href="/users/compras/<%= usuarios.id %>">MEUS PEDIDOS</a>
                </div>
            </div>
        </section>

        <section class="account">
            <div class="caixatexto">
                <h3>MEUS DADOS</h3>
            </div>
            <form class="account-data">
                <div class="col-user">
                    <div>
                        <label for="" class="label-account">E-mail</label><br>
                        <input type="text" name="email" class="values-account"
                            value="<%= usuarios.email %>"></input>
                    </div>
                </div>
                <div class="col-user">
                    <div>
                        <label for="nome" class="label-account">Nome</label><br>
                        <input type="text" name="nome" class="values-account"
                            value="<%= usuarios.nome %>"></input>
                    </div>
                    <div>
                        <label for="sobrenome" class="label-account">Sobrenome</label><br>
                        <input type="text" name="sobrenome" class="values-account"
                            value="<%= usuarios.sobrenome %>"></input>
                    </div>
                </div>

                <div class="account-data-pessoal">
                    <div class="col-pessoal">
                        <div>
                            <label for="doc_identificacao" class="label-account">CPF</label><br>
                            <input type="text" name="doc_identificacao" class="values-account"
                                value="<%= usuarios.doc_identificacao %>"></input>
                        </div>
                        <div>
                            <label for="genero" class="label-account">Gênero</label><br>
                            <input type="text" name="genero" class="values-account"
                                value="<%= usuarios.genero %>"></input>
                        </div>
                    </div>
                    <div class="col-pessoal">
                        <div>
                            <label for="data_nascimento" class="label-account">Data de Nascimento</label><br>
                            <input type="date" name="data_nascimento" class="values-account data-nascimento"
                                value="<%= usuarios.data_nascimento %>"></input>
                        </div>
                    </div>
                </div>

                <div class="account-data-endereco">
                    <div class="col-endereco">
                        <div>
                            <label for="cep" class="label-account">CEP</label><br>
                            <input type="text" name="cep" class="values-account cep"
                                value="<%= usuarios.cep %>"></input>
                        </div>
                    </div>
                    <div class="col-endereco">
                        <div>
                            <label for="estado" class="label-account">Estado</label><br>
                            <input type="text" name="estado" class="values-account"
                                value="<%= usuarios.estado %>"></input>
                        </div>
                        <div>
                            <label for="cidade" class="label-account">Cidade</label>
                            <input type="text" name="cidade" class="values-account"
                                value="<%= usuarios.cidade %>"></input>
                        </div>
                    </div>
                    <div class="col-endereco">
                        <div>
                            <label for="endereco" class="label-account">Rua/Avenida</label><br>
                            <input type="text" name="endereco" class="values-account"
                                value="<%= usuarios.endereco %>"></input>
                        </div>
                    </div>
                    <div class="col-endereco">
                        <div>
                            <label for="number" class="label-account">Número</label><br>
                            <input type="text" name="numero" class="values-account" value="<%= usuarios.numero %>"></input>
                        </div>
                        <div>
                            <label for="complemento" class="label-account">Complemento</label><br>
                            <input type="text" name="complemento" class="values-account" value="<%= usuarios.complemento %>"></input>
                        </div>
                    </div>
                </div>
                <div class="edit-form">
                    <button class="editar" type="submit"><a href="editar-conta/6">Editar</a></button>
                </div>
            </form>
        </section>
    </main>

    <%- include('partials/footer') %>