<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/admin.css">
  <script src="/javascripts/crud.js" defer></script>
<main>
  <h2>Editar livro</h2>

  <% if (livro) { %>
    <form class="add-form" action="/admin/editar/editar-livro <%= livro.id %>?_method=PUT" method="post">
  <% } else { %>
    <form class="add-form" action="/admin/editar-livro" method="post">
  <% } %>

    <label for="titulo">Título</label>
    <input type="text" name="titulo" id="titulo" value="<%= livro && livro.titulo %>">

    <label for="editora">Editora</label>
    <input type="text" name="editora" id="editora" value="<%= livro && livro.editora %>">

    <button type="submit">Enviar</button>
  </form>






  <label class="form-crud-label" for="nome">Titulo do Livro:</label> <br>
  <input class="form-crud-input" id="titulo" type="text" name="nome" placeholder="Digite o nome do livro ">

  <label class="form-crud-label" for="valor">Preço:</label> <br>
  <input class="form-crud-input" id="crud-preco" type="text" name="valor"
    placeholder="Coloque o valor do Livro">

  <label class="form-crud-label" for="editora">Editora:</label> <br>
  <input class="form-crud-input" type="text" name="editora" placeholder="Digite a editora">

  <label class="form-crud-label" for="publicacao">Ano de Publicação:</label> <br>
  <input class="form-crud-input" type="text" name="publicacao" placeholder="Digite o ano de publicação">


  <label class="form-crud-label" for="categoria">Acabamento:</label> <br>
  <select name="categoria" id="categoria">
    <option value="comum">Capa Comum</option>
    <option value="dura">Capa Dura</option>
</main>

<%- include('partials/footer') %>