<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/Login.css">
<main>

  <% if(typeof errors !== 'undefined'){  %> 
    <font size ="-1">     
       <ul style="list-style-type: none;">     
           <% for(let error in errors){ %>         
             <li><center>           
               <b style='color:darkred'><%= error%>: </b>         
                  <%= errors[error].msg%></center></li>        
                    <% } %>   
                     </ul>      
                        <% } %>
                        
    <script src="/javascripts/validacoeslogin.js" defer></script>
    <section class="pageLogin">
        <h5 class="login2">Redefinir Senha</h5>
      <form class="form-auth card" method="POST" action="/users/forgot-password">
        <li class="email">E-mail</li>
        <input type="email" name="E-mail" placeholder="Digite seu email">
        <br>
        <% if(typeof errors !== 'undefined'){  %>
          <font size ="-1">
          <ul style="list-style-type: none;">
            <% for(let error in errors){ %>
              <li><center>
                <b style='color:darkred'><%= error%>: </b>
                <%= errors[error].msg%></center></li>
              <% } %>
          </ul>
             <% } %>
          </font>
        <button class="entrar" type="submit">Resetar senha</button>
      </form>
      <br>
   
      <a href="/users/login" class="cadastro">Voltar para o login</a>
</main>
<%- include('partials/footer') %>
    