<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/lancamentos.css">

<main class="Livros">
 

    <section>
        <div class="filtro">
            <h3 class="resultado">PRINCIPAIS LANÇAMENTOS DO MÊS DE MARÇO <i class='bx bx-rocket' ></i></h3>

            <select id="sort-by" name="sort-by" class="sort-by">
                <option value="menorPreco">menores preços</option>
                <option value="maiorPreco">maiores preços</option>
                <option value="maisRelevante">mais relevante</option>
                <option value="maisVendido">mais Vendido</option>
            </select>
            
        </div>
     
        <div class="grid-livros">
            <% livros.forEach(el => { %>
                <li onclick=redirect() class="item">
                    <img class="item-img" src="/images/produtos/<%= el.capa %>" id="<%= el.id %>" alt="dna">
                    <div>
                        <h5 class="item-name">
                            <%= el.titulo %>
                        </h5>
                        <span class="item-price">
                            R$ <%= el.preco %>
                        </span>
                        <button class="comprar"><a >COMPRAR</a></button>
                    </div>
                </li>
                <% }) %>
            
        </div>
</main>
<section>
    <div class="continue-vendo">
        <h5 class="title">CONTINUE VENDO</h5>

        <div class="carrousel" id="carrousel">
            <div class="gallery" id="gallery">
                <% livros.forEach(el => { %>
                    <li onclick=redirect() class="item current-item">
                        <img class="item-img" src="/images/produtos/<%= el.capa %>" id="<%= el.id %>" alt="dna">
                        <div>
                            <h5 class="item-name">
                                <%= el.titulo %>
                            </h5>
                            <span class="item-price">
                                R$ <%= el.preco %>
                            </span>
                            <button class="comprar"><a >COMPRAR</a></button>
                        </div>
                    </li>
                    <% }) %>
            </div>
        </div>
        <button id="prev" class="arrow-left"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-caret-left-fill" viewBox="-2 -2 20 20">
                <path
                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
            </svg></button>
        <button id="next" class="arrow-right control"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg></button>
    </div>
</section>


<%- include('partials/footer') %>