<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/Todososlivros.css">

    <main class="Livros">
        <aside class="menu_categoria">
            <div class="menu-main">
                <h2 class="categoria"> CATEGORIA </h2>
                <ul>
                    <li> <a class="link_menu" href="#"> Não Ficção</a></li>
                    <li> <a class="link_menu" href="#">Ficção</a></li>
                    <li> <a class="link_menu" href="#">Biografia</a></li>
                    <li> <a class="link_menu" href="#">Ciencias</a></li>
                    <li> <a class="link_menu" href="#">Classicos</a></li>
                    <li> <a class="link_menu" href="#">Crimes e Intestigação</a></li>
                    <li> <a class="link_menu" href="#">Fantasia</a></li>
                    <li> <a class="link_menu" href="#">Ficção Científica</a></li>
                    <li> <a class="link_menu" href="#">Filmes, séries e Games</a></li>
                    <li> <a class="link_menu" href="#">Hqs e Mangás</a></li>
                    <li> <a class="link_menu" href="#">Infantil</a></li>
                    <li> <a class="link_menu" href="#">Romance</a></li>
                    <li> <a class="link_menu" href="#">Stephen King</a></li>
                    <li> <a class="link_menu" href="#">Terro e Supense</a></li>
                    <li> <a class="link_menu" href="#">Young Adult</a></li>
                    <li> <a class="link_menu" href="#"> Não Ficção</a></li>
                    <li> <a class="link_menu" href="#">Ficção</a></li>
                    <li> <a class="link_menu" href="#">Biografia</a></li>
                    <li> <a class="link_menu" href="#">Ciencias</a></li>
                    <li> <a class="link_menu" href="#">Classicos</a></li>
                    <li> <a class="link_menu" href="#">Crimes e Intestigação</a></li>
                    <li> <a class="link_menu" href="#">Fantasia</a></li>
                    <li> <a class="link_menu" href="#">Ficção Científica</a></li>
                    <li> <a class="link_menu" href="#">Filmes, séries e Games</a></li>
                    <li> <a class="link_menu" href="#">Hqs e Mangás</a></li>
                    <li> <a class="link_menu" href="#">Infantil</a></li>
                    <li> <a class="link_menu" href="#">Romance</a></li>
                    <li> <a class="link_menu" href="#">Stephen King</a></li>
                    <li> <a class="link_menu" href="#">Terro e Supense</a></li>
                </ul>
            </div>
        </aside>

        <section>
            <div class="filtro">
                <h3 class="resultado">Resultados: 360</h3>
                <select id="sort-by" name="sort-by" class="sort-by">
                    <option value="menorPreco">menores preços</option>
                    <option value="maiorPreco">maiores preços</option>
                    <option value="maisRelevante">mais relevante</option>
                    <option value="maisVendido">mais Vendido</option>
                </select>
            </div>
            <div class="galeria">
                <% livros.forEach((servico, i) => {%>
                    <div id="servico-<%= i %>" class="catalogo_produtos servico-<%= i %>">
                        <img  class="product-identification" src="<%= servico.imagem %>" >
                        <form id="formCarrinho" method="post">
                            <div>
                                <strong class="cart-product-title" a ><%= servico.titulo %> </strong>   
                            </div>
                            <div>
                                <span class="cart-product-price"> R$ <%= servico.preco %></span>
                            </div>
                            <input type="hidden" name="produtoId" value="<%= servico.id %>">
                            <button type="button" class="comprar">COMPRAR</a></button>
                        </form>
                    </div>
                <% }) %>
            </div>
    </main>
    <section>
        <div class="continue-vendo">
            <h5 class="title">CONTINUE VENDO</h5>

            <div class="carrousel" id="carrousel">
                <div class="gallery" id="gallery">
                    <li class="item current-item">
                        <img src="/images/produtos/my broken mariko/mariko-capa.jpg" alt="mariko">
                        <div>
                            <h5>MY BROKEN MARIKO</h5>
                            <span>R$ 39,90</span>
                            <button class="comprar"><a href="#">COMPRAR</a></button>
                        </div>
                    </li>

                    <li class="item current-item">
                        <img src="/images/produtos/DNA/DNA capa.jpg" alt="dna">
                        <div>
                            <h5>DNA MILIONÁRIO</h5>
                            <span>R$ 49,90</span>
                            <button class="comprar"><a href="#">COMPRAR</a></button>
                        </div>
                    </li>

                    <li class="item current-item">
                        <img src="/images/produtos/Lady killers/capa.jpeg" alt="lady-killers">
                        <div>
                            <h5>LADY KILLERS</h5>
                            <span>R$ 59,90</span>
                            <button class="comprar"><a href="#">COMPRAR</a></button>
                        </div>
                    </li>

                    <li class="item current-item">
                        <img src="/images/produtos/manifesto/capa.jpg" alt="hobbit">
                        <div>
                            <h5>MANIFESTO DO PARTIDO COMUNISTA</h5>
                            <span>R$ 34,90</span>
                            <button class="comprar"><a href="#">COMPRAR</a></button>
                        </div>
                    </li>

                    <li class="item current-item">
                        <img src="/images/produtos/moby dick/mobydick-capa.jpg" alt="moby-dick">
                        <div>
                            <h5>MOBY DICK</h5>
                            <span>R$ 129,90</span>
                            <button class="comprar"><a href="#">COMPRAR</a></button>
                        </div>
                    </li>

                    <li class="item current-item">
                        <img src="/images/produtos/calibã/caliba-capa.jpg" alt="caliba">
                        <div>
                            <h5>CALIBÃ E A BRUXA</h5>
                            <span>R$ 59,90</span>
                            <button class="comprar"><a href="#">COMPRAR</a></button>
                        </div>
                    </li>

                    <li class="item current-item">
                        <img src="/images/produtos/moby dick/mobydick-capa.jpg" alt="moby-dick">
                        <div>
                            <h5>MOBY DICK</h5>
                            <span>R$ 129,90</span>
                            <button class="comprar"><a href="#">COMPRAR</a></button>
                        </div>
                    </li>

                    <li class="item current-item">
                        <img src="/images/produtos/calibã/caliba-capa.jpg" alt="caliba">
                        <div>
                            <h5>CALIBÃ E A BRUXA</h5>
                            <span>R$ 59,90</span>
                            <button class="comprar"><a href="#">COMPRAR</a></button>
                        </div>
                    </li>


                </div>
            </div>
            <button id="prev" class="arrow-left"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-caret-left-fill" viewBox="-2 -2 20 20">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg></button>
            <button id="next" class="arrow-right control"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg></button>
        </div>
    </section>

    <%- include('partials/footer') %>